<section class="container header-profile-section">
    <div class="header-profile">
        <div class="user-circle-profile">
            <img class="user-profile-head" src="https://images.unsplash.com/photo-1482066490729-6f26115b60dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1302&q=80" alt="" srcset="">
        </div>
        <div class="nav-profile">
            <div class="profile-header">
                <p class="name-user">gatito_dormilon</p>
                <!-- <button ></button> -->
                <a class="btn-edit" routerLink="/edit-profile">Editar Perfil</a>
                <i class="fab fa-empire"></i>
            </div>
            <div class="profile-header">
                <p><strong>9</strong> publicaciones</p>
                <p><strong>10k</strong> seguidores</p>
                <p><strong>11</strong> seguidos</p>
            </div>
            <div class="profile-header">
                <p><strong>KITTY 😻</strong></p>
            </div>
        </div>
    </div>
</section>

<section class="container">
    
    <div class="grid-container">
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1577255714682-69db9b067fda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" srcset="">
        </div>
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1561181471-902d88b62e47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" srcset="">
        </div>
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1568552557454-8bc66aa877f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1382&q=80" alt="" srcset="">
        </div>   
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1578355437008-e1057fa764cc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80" alt="" srcset="">
        </div>   
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1565396257124-2c1627e8b3b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="" srcset="">
        </div>   
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1567877163288-afa41ad24d8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" srcset="">
        </div>   
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1533907650686-70576141c030?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" srcset="">
        </div>
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1554555263-f440a3f535f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" srcset="">
        </div> 
        <div class="grid-item">
            <img class="img-post" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80" alt="" srcset="">
        </div>  
    </div>
</section>
